encryption = "age"

[age]
    command = "rage"
    identity = "{{ .chezmoi.homeDir }}/.ssh/dotfiles"
    recipient = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICU84dYXeadnr71SmwhvwDQ5uEX3eNW2ulNzU83ZyD7+ dotfiles"

[data]
    alacritty_font_size = {{ index . "alacritty_font_size" | default 18 }}
    ghostty_font_size = {{ index . "ghostty_font_size" | default 18 }}
    ghostty_adjust_cell_height = {{ index . "ghostty_adjust_cell_height" | default 0 }}
    kitty_font_size = {{ index . "kitty_font_size" | default 18 }}
    wezterm_font_size = {{ index . "wezterm_font_size" | default 18 }}
