[tools]
erlang = ["28.5.0", "27"]
elixir = ["1.19", "1.18"]
go = "latest"
node = "latest"
rebar = "latest"
"npm:@google/gemini-cli" = "latest"
"github:Ataraxy-Labs/inspect" = "latest"
{{- if ne .chezmoi.os "darwin" }}
"aqua:remoteoss/dexter" = "latest"
{{- end }}

[tasks.converge]
description = "Install, upgrade, and prune tools"
run = "mise install && mise upgrade && mise prune -y"
